<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'
  @additive = ["# rubber-solr-start", "# rubber-solr-end"]
%>

PATH=/usr/local/bin:/usr/local/sbin:/usr/local/mysql/bin:/usr/bin:/bin:/sbin:/usr/sbin
MAILTO=<%= rubber_env.admin_email %>
# don't need to set RAILS_ENV for each script since we set it for all cron here
RAILS_ENV=<%= RAILS_ENV %>

<% if rubber_instances.for_role('solr', {}).first.name == rubber_env.host %>
0 4 * * * INDEX=/<%= RAILS_ROOT %>/<%= rubber_env.solr_index_dir %> <%= RAILS_ROOT %>/script/cron-rake rubber:backup_solr
<% end %>
